/* woocommerce/css/woocommerce.css */
/* Estilos personalizados para los metadatos de los productos en WooCommerce */

/*-----------------------------------------------------------------------------------------------------------------------*/

/* Contenedor principal de la lista de productos */

ul.products {
	display: flex;
	flex-wrap: wrap;
	gap: 10px; /* Espacio entre las tarjetas */
	list-style: none;
}

/* Elementos de la lista de productos */
ul.products li.product {
	flex: 0 1 calc(25% - 20px); /* Ajusta para que ocupe un cuarto del ancho del contenedor, menos el espacio del gap */
	box-sizing: border-box; /* Incluye el padding y border en el ancho total */
	list-style: none;
	position: relative; /* Necesario para el posicionamiento relativo */
}

/* Ajustes adicionales para las tarjetas */
.card {
	border: none;
	padding: 5px;
	position: relative; /* Permite el posicionamiento absoluto de elementos hijos */
	text-decoration: none; /* Elimina el subrayado */
	max-width: 300px;
	max-height: auto;
}
.card a {
	text-decoration: none; /* Elimina el subrayado predeterminado */
	color: inherit; /* Hereda el color de texto del padre */
}

/* Imagen del producto */
.card img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px;
}

/* Título del producto */
ul.products li.product .card h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #333; /* Cambia el color del texto del título */
	text-decoration: none; /* Elimina el subrayado */
}

/* Botón de añadir al carrito */
ul.products li.product .card .button {
	margin-top: 10px;
	background-color: #007bff; /* Cambia el color de fondo del botón */
	color: #fff; /* Cambia el color del texto del botón */
	border-color: #007bff; /* Cambia el color del borde del botón */
	text-decoration: none !important; /* Elimina el subrayado */
	transition: background-color 0.3s ease, border-color 0.3s ease,
		color 0.3s ease; /* Transición suave */
}

/* Estilo para el botón al pasar el mouse */
ul.products li.product .card .button:hover {
	background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el mouse */
	border-color: #0056b3; /* Cambia el color del borde del botón al pasar el mouse */
	color: #fff; /* Cambia el color del texto del botón al pasar el mouse */
	text-decoration: none !important; /* Elimina el subrayado al pasar el mouse */
}

/* Precio del producto */
.card .price {
	font-size: 1.1em;
	color: #333; /* Cambia el color del texto del precio */
	margin-bottom: 30px;
}

/* Estilos para el título del producto */
.woocommerce-loop-product__title {
	font-size: 1.2em; /* Ejemplo de tamaño de fuente */
	color: #333; /* Ejemplo de color de texto */
	margin-bottom: 10px; /* Ejemplo de margen inferior */
}

/* Estilos para el precio */
.price {
	font-size: 1.1em; /* Ejemplo de tamaño de fuente */
	color: #666; /* Ejemplo de color de texto */
}

/* Estilos para el botón de agregar al carrito */
.add_to_cart_button {
	margin-top: 20px !important;
	display: inline-block; /* Asegura que el botón se muestre correctamente en línea */
	background-color: #007bff;
	color: #fff;
	border: none;
	text-transform: capitalize;
	cursor: pointer;
	padding: 8px;
	border-radius: 10px;
	font-size: small;
}

/* -----------------------------------------------------------------------------------------------------
Estilos para la barra lateral y el contenido de la tienda
-------------------------------------------------------------------------------------------------------- */
.patio {
	display: flex;
	flex-wrap: wrap;
	max-width: 1850px; /* Ajusta este valor según tus necesidades */
	margin: 0 auto;
	margin: 10vh;
}

.row {
	display: flex;
	flex: 1;
}

.col-md-2 {
	flex: 0 0 15%;
	max-width: 15%;
}

.col-md-10 {
	flex: 0 0 85%;
	max-width: 85%;
}

.widget-area {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 40px; /* Ajusta este valor según tus necesidades */
	width: 100%; /* Ajusta el ancho según tus necesidades */
}

.widget {
	margin-bottom: 20px;
}

.widget-title {
	font-size: 1.5em;
	margin-bottom: 10px;
}

/*--------------------------------------------------------------------------------------------------------
 Estilos para el breadcrumb en WooCommerce 
 ----------------------------------------------------------------------------------------------------------*/
.woocommerce-breadcrumb {
	margin: 20px 0 0 50px; /* Margen superior e inferior */
	font-size: 17px; /* Tamaño de fuente */
	color: #333; /* Color del texto */
}

.woocommerce-breadcrumb a {
	color: #007bff; /* Color de los enlaces */
	text-decoration: none; /* Quitar subrayado */
}

.woocommerce-breadcrumb a:hover {
	text-decoration: underline; /* Subrayado al pasar el ratón por encima */
}

.woocommerce-result-count {
	display: none;
}

/* ---------------------------------------------------------------------------------------------------------
Estilos para el cuadro de selección de orden en WooCommerce 
------------------------------------------------------------------------------------------------------------*/
.woocommerce-ordering {
	margin-bottom: 20px; /* Margen inferior */
}

.woocommerce-ordering select {
	padding: 8px; /* Relleno dentro del select */
	font-size: 14px; /* Tamaño de fuente */
	color: #333; /* Color del texto */
	background-color: #f2f2f2; /* Color de fondo */
	border: 1px solid #ccc; /* Borde */
	border-radius: 4px; /* Borde redondeado */
}

.woocommerce-ordering select:hover,
.woocommerce-ordering select:focus {
	border-color: #007bff; /* Color del borde al pasar el ratón o estar enfocado */
	outline: none; /* Quitar el contorno al estar enfocado */
}

/* Estilos para las opciones dentro del select */
.woocommerce-ordering select option {
	background-color: #fff; /* Color de fondo de las opciones */
	color: #333; /* Color del texto de las opciones */
}

/* Estilos para el botón del select */
.woocommerce-ordering select::after {
	content: '\25BE'; /* Triángulo hacia abajo (caret) */
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	pointer-events: none; /* Evitar que el clic se propague al select */
}

/* ------------------------------------------------------------------------------------------------------------------
Estilos generales para la sección grid
--------------------------------------------------------------------------------------------------------------------- */
.grid-section {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem;
}

/* Estilos para los elementos individuales del grid */
.grid-section .col {
	flex: 1 1 calc(25% - 1rem); /* Cuatro columnas por fila con espacio entre ellas */
	box-sizing: border-box;
}

/* Estilos para las tarjetas */
.grid-section .card {
	border: none; /* Sin borde */
	border-radius: 8px; /* Bordes redondeados */
	overflow: hidden; /* Ocultar cualquier contenido que se desborde */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Estilos para la imagen superior de la tarjeta */
.grid-section .card-img-top {
	width: 80%; /* Imagen ajustada al ancho de la tarjeta */
	height: 240px; /* Altura fija */
	object-fit: cover; /* Ajustar imagen dentro de la tarjeta */
}

/* Efecto de elevación al pasar el mouse sobre las tarjetas */
.grid-section .card:hover {
	transform: translateY(-5px); /* Efecto de elevación */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

/* Estilos para el cuerpo de la tarjeta */
.grid-section .card-body {
	padding: 1rem; /* Espaciado interno */
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centrar verticalmente */
	align-items: center; /* Centrar horizontalmente */
	flex-grow: 1;
}

/* Estilos para el título de la tarjeta */
.grid-section .card-title {
	font-size: 1.25rem; /* Tamaño de fuente del título */
	margin-bottom: 0.5rem; /* Margen inferior */
	height: 1.2em; /* Altura fija para el título */
	overflow: hidden; /* Ocultar desbordamientos */
	text-overflow: ellipsis; /* Añadir puntos suspensivos en caso de desbordamiento */
	justify-content: center;
	align-items: center;
}

/* Estilos para el texto de la tarjeta */
.grid-section .card-text {
	color: #666; /* Color del texto secundario */
	margin-bottom: 1rem; /* Margen inferior */
	height: 2em; /* Altura fija para la descripción */
	overflow: hidden; /* Ocultar desbordamientos */
	text-overflow: ellipsis; /* Añadir puntos suspensivos en caso de desbordamiento */
}

/* Estilos para el enlace del producto */
.grid-section .card a {
	font-size: medium;
	text-decoration: none; /* Sin subrayado */
	color: #ffffff; /* Color del enlace */
	transition: color 0.3s ease; /* Transición suave para el color */
}

.grid-section .card a:hover {
	color: #ffffff; /* Color del enlace al pasar el mouse */
}

/* Estilos para el botón dentro de las tarjetas de producto */
.grid-section .card a.btn-primary {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.grid-section .card a.btn-primary:hover {
	color: #fff;
	background-color: #0056b3;
	border-color: #0056b3;
}

.grid-section .card a.btn-primary:focus,
.grid-section .card a.btn-primary.focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}
#update-cart {
	background-color: #0073aa;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}

#update-cart:hover {
	background-color: #005177;
}
.product-quantity {
	display: flex;
	align-items: center;
}

.product-quantity .update-cart-button {
	margin-left: 10px;
	padding: 6px 12px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}

.product-quantity .update-cart-button:hover {
	background-color: #555;
}
